.navbar{
    box-shadow: 0px 0px 15px rgb(30, 30, 30);
}

.back{
    background-color: #182b5c;   
}

.end{        
    background-color: rgb(43, 47, 50);
    height:200px
}

.aboutBody{
    background-color: #233872;
    color: white !important;
}
.aboutHead{
    color: turquoise;    
}
.navbg{
    background-color: #111f49;
}

.navimg{
    height: 55px;
    width: 55px;       
    border-radius: 20px;
    margin-right: 10px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;    
}
.contpast{
    padding-bottom: 100px;
}
.h4x{
    font-weight: 550;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.nav-left{
    transform: translate(50%,0%);
}
.collapse{
    max-width: 100%;
}
.nav-item{    
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.details{       
    padding-top: 1%;
    padding-left: 2%; 
    padding-right: 2%;
    font-size:22px;
}
.pr2{    
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.details-2{
    margin-left: 5%;
    font-size: 22px;
}
.nav-item:hover{
    border-radius: 5px;
    background-color: #142454;
    color: white;
}
.head{
    padding-left: 20px;
}
.btnpastdp{    
    color:white;
    font-size: 25px;
    background-color: rgb(44, 50, 76);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;
    border: none;
    box-shadow: 2px 2px 5px black;    
    width: 30%;
    transform: translate(115%,0);
}
.btnxxx:hover{
    color: #e4e4e4;

}
.linkfaq{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.btnxxx{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(44, 50, 76);
}
.pposter{
    border-radius: 20px;    
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 100%;  
    height: auto; 
}
.aboutHead2{
    font-size: 50px;
    font-family: 'Poppins';
    background-color: turquoise;
    padding-bottom: 1%;
    border-radius: 5px;
    padding-top: 1%;
    color: black;  
}
.img-o{    
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width:300px;
    height:300px;
    border-radius: 5px;
}
.smallx{
    font-size: 15px;
}
.poster{    
    border-radius: 20px;    
    margin-top: 15px;
    margin-bottom: 35px;
    max-width: 100%;  
    height: auto;    
}
.btndp{
    float: right;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;    
    border: none;
    background-color: rgb(44, 50, 76);
    box-shadow: 2px 2px 5px black;
    color: white;
    padding: 10px;
}
.card{   
    width: 100%;
    margin-bottom: 30px;
}

.card-title{
    text-align: center;
}

.stm{
    color: white;
    text-align: center;
    margin-bottom:5%;
}
.slidecont h3{
    line-height: 50px;
}
.alert{    
    top:0;
    text-align: center;    
    max-width: 50%;
    transform: translate(50%,0%);
}
.slidecont{    
    border: solid 1px white;
    border-radius: 15px;
    padding-top: 20px;    
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;     
    text-align: center;
    color: white;    
}
.btnx{        
    position: absolute;
    color:white;
    font-size: 25px;
    background-color: #1d3c98;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;
    border: none;
    box-shadow: 2px 2px 5px black;
    left:51%;
    bottom: 15%;
    transform: translate(-50%,50%);
}

.btnmore{
    position: relative;
    color: white;
    background-color: #1d3c98;
    box-shadow: 2px 2px 5px black;
    border: none;    
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    left:50%;    
    transform: translate(-50%,0%);
}
.btndrive{
    position: relative;
    color: white;
    background-color: rgb(44, 50, 76);
    box-shadow: 2px 2px 5px black;
    border: none;    
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    left:50%;    
    transform: translate(-50%,80%);
}

.btncont{    
    color: white;
    background-color: rgb(44, 50, 76);
    box-shadow: 2px 2px 5px black;
    border: none;    
    margin-bottom: 10px;
    margin-left:4%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    left:50%;        
}

.sm{
    margin-left: 4%;
}

.conts{    
    position: relative;     
}
.tabtop{
    font-family: 'Poppins';
    margin-left: 3%;
}
.btnnav{
    float:right;    
    color: #92928a;
    background-color: #202528;
    border: none;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
}
.btnnav2{
    float:right;    
    color: #92928a;
    /* background-color: #202528; */
    background-color: inherit;
    border: none;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
}

.btnnav:hover{
    border-radius: 5px;
    background-color: #111f49;
    color: rgb(214, 214, 214);
}

.btnnav2:hover{
    border-radius: 5px;
    background-color: #142454;
    ;
    color: rgb(214, 214, 214);
}
.pointsHead{    
    background-color: #00bbff;
    color: black;
    font-size: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.contestname{
    /* text-decoration: underline; */
    margin-left: 4%;
}

.contestrank{
    font-size: 26px;
    padding-left: 40px;
}

.contestbody{
    overflow: auto;
    margin-bottom: -30px;
    
}

.contestbody-2{
    justify-content: center;
    align-items: center;
    
}


.contesttitle-2{
    padding-top: 20px;
}

.cardcont{
    margin-top: 30px;
}

.cardcontent{
    word-spacing: 50px;
}

.contestcont{
    display: flex;    
}

.upc{
    margin-top: 20px;
    color: white;
}

.upc2{
    margin-top: 20px;
    color: white;
}

.leaderboard{
    width: 100%;
    overflow-x:auto;
}

.responsive{
    overflow-x: auto;
}
.typ{
    border-collapse: separate !important;
    border-spacing: 0 0.5em;
    font-family: 'Poppins';
}
.thx{
    text-align: center;
    color: white;
    padding-top: 0;
}

.th1{
    text-align: center;
    font-size: 30px;   
    padding-bottom: 10px;
}
.h1x{
    color: white;
    font-size: 35px;
    padding-bottom: 20px;
}
.td1{
    text-align: center;
}
.btnviewp{
    float: right;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;    
    border: none;
    background-color: rgb(44, 50, 76);
    box-shadow: 2px 2px 5px black;
    color: white;
    padding: 10px;    
}
.h2x{
    color: white !important;
    margin-top: 20px;
}

.footer{
    background-color: #202528;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    box-shadow: 0px 0px 15px rgb(30, 30, 30);
}
.toleft{
    float: left;
}
.insta{
    padding-bottom: 10px;
}
.instalink{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.discord{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.instalink:hover{        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #ff1aff, #db52bb, #f3ec78, #fff307);
}
.discord:hover{        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #0084ff,cyan, #ffffff);


}
.contact{
    padding-top: 20px;
}
.btninsta:hover{
    background-color: black;
}
.btnfb:hover{
    background-color: black;
}
.btninsta{
    background-color: #202528;
    border:solid 1px white;
    border-radius: 10px;
    padding-top: 5px;
    margin-right: 10px;
}
.btnfb{
    background-color: #202528;
    border:solid 1px white;
    border-radius: 10px;
    padding-top: 8px;
}
.history{    
    margin-right: auto;
    width:45%;    
}
.history2{   
    float: inline-end; 
    width:45%;        
}
.flex{
    display: flex;
}
.th2{    
    text-align: center;
}
.td2{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;     
}
.card2{
    background-color: white;
    border-radius: 10px;
    margin-top: 3%;
}
.typ 
{  
  padding: 0
}
.pass{
    color: rgb(250, 39, 39);
    padding-left: 5%;    
}
@media(max-width: 992px){
    .pointsHead{
        font-size: 28px;
    }
    .slidecont{
        margin-left: 10px;
        margin-right: 10px;
    }
    .toleft{
        margin-right: auto;
    }
    .aboutHead2{
        font-size: 30px;
    }
    .msgreg{
        font-size: 18px;
    }
    .h1x{
        font-size: 25px;
    }
    
  
}

@media (max-width:500px){
    .btnnav{
        font-size: 15px;
    }
    .btnnav2{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .slidecont{
        padding-left: 0px;
        padding-right: 0px;
    }
    .msgreg{        
        font-size: 15px;
    }
}
@media(max-width:500px){
    .details{
        font-size: 20px;
    }
    .details-2{
        font-size: 18px;
    }
    .h4x{
        font-size: 20px;
    }    
    .pass{
        font-size: 14px;
    }    
    .instalink{        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #ff1aff, #db52bb, #f3ec78, #fff307);
    }
    .discord{        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #0084ff,cyan, #ffffff);        
    }
    .alert{
        font-size: 10px;
    }
}

@media(max-width:548px){
    .leaderboardHead-2{
        font-size: 23px;
    }
    .td2{
        font-size: 14px;
    }
}
@media(min-width:500px){
    .col-sm-3{
        width: 21% !important;
    }    
}
@media(max-width:500px){
    .col-sm-3{
        width: 94% !important;
    }    
}
@media(max-width:768px){
    .pointsHead{
        font-size: 23px;
    }
    .details{
        font-size: 20px;
    }
    .details-2{
        font-size: 18px;
    }
    .tda{
        font-size: 15px;
    }
    .btninsta h5{
        font-size: 15px;
    }
    .btninsta{
        padding-bottom: 0px;
    }
    .btnfb h5{
        font-size: 15px;
    }
    .btnfb{
        padding-bottom: 0px;
    }

    .leaderboardHead-2{
        font-size: 23px;
    }
    .h2x{
        font-size: 25px;
    }
    .btnpastdp{
        font-size: 18px;
    }
    .btndp{
        font-size: 20px;
    }
    .btnnav2{
        font-size: 17px;
    }
}
@media(max-width:450px){
    .leaderboardHead-2{
        font-size: 18px;
    }
    .h2x{
        font-size: 18px;
    }
    .th2{
        font-size: 18px;
    }   
    .btndp{
        font-size: 15px;
        margin-top: 0%;
    }
    .btnpastdp{
        font-size: 15px;
    } 
}