.signup{  
  background-color: #f2f0f0;
  padding-bottom: 50px;
}
.login{
  overflow: hidden;
  background-color: #f2f0f0;
  padding-bottom: 13%;  
}
.navi{  
  font-family: 'Inter';
}
.navi>a{
  margin-left: 50px;
}
.th{
  font-weight: 400;
}
.responsive{
  padding-bottom: 30px;
}
.homeButton{
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #414040;
  margin-left: 50px;
}
.form-label{
  color: white;
  padding-left: 5px;
}
.homeButton>a{
  text-decoration: none;
  color: inherit;
}
.loginButton{
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #414040;
  margin-left: calc(100vw - 500px);
  /* left: 10px; */
}
.loginButton>a{
  text-decoration: none;
  color: inherit;
}
.username{
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #414040;
  margin-left: calc(100vw - 700px);
}
.logoutButton{
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  color: #414040;
  margin-left: 100px;
  /* left: 10px; */
}
.logoutButton>a{
  text-decoration: none;
  color: inherit;
}

.outer{  
  position: relative;
  padding-top: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.inputs{
  text-align: center;
  margin: 20px;
}
.inputbox{
  box-shadow: 2px 2px 10px black;
}
.btnsignup:hover{
  font-size: 21px;
}

.btnsignup{
  position: relative;
  color: black;
  background-color: white;  
  border: none;    
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  left:50%;    
  bottom: 0%;
  transform: translate(-50%,0%);
}

.btnlogin{
  position: relative;
  color: black;
  background-color: white;  
  border: none;    
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  left:50%;    
  bottom: 0%;
  transform: translate(-50%,0%);
}

.footer2{
  background-color:rgb(43, 47, 50);
  color: white;
  padding-bottom: 10px;
  padding-top: 20px;    
}
.whitebox{
  width: 1800px;
  height: 450px;
  position:relative;
  margin: 10px;
  background: #212529;
  border-radius: 5px;
}
.whitebox2{
  width: 1800px;
  height: 450px;
  position:relative;  
  margin: 10px;
  background: #212529;
  border-radius: 5px;
}
.signup_container{
  height: 920px;    
}
.signup_container2{  
  height: 450px;    
}
.register_container{
  height: 650px;
}
.auth{
  font-size: 25px;
  text-align: left;
}

input{
  width: 100%;
  border: 0;
  padding: 10px 10px;
  outline: none;
  background-color: #f2f0f0;
  border-radius: 5px;  
}
.newUser{
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  /* z-index: 2; */
  margin-bottom: 0;
}
.link_for{
  z-index: 3;
}
#batch{
  background-color: #f2f0f0;
  border-radius: 5px;
  border: 0;
  height: 55px;
}
.button{
  position: absolute;
  color:white;
  font-size: 25px;
  background-color: rgb(44, 50, 76);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 8px;
  border: none;
  box-shadow: 2px 2px 5px black;
  left:51%;
  bottom: 15%;
  transform: translate(-50%,50%);
}
.button:hover{
  background-color: black ;
  color: white;
}

.heading{
  color: white;
  padding-top: 30px;
  margin: 30px;
}
.gridContainer{
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-areas: 
  "cont cont2";
}
.contestcard{
  grid-area: cont;
}
.contestcard-2{
  grid-area: cont2;
  width: 100%;
}
::placeholder{
  color:black;
  opacity:.9;
}
@media (min-width: 300px) {
  .whitebox{
      width: 350px;
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media(max-width: 992px){
  .contestname{
    font-size: 25px;
  }  
  .btnmore{
    font-size: 15px;
  }
  .btnx{
    margin-bottom: 5%;
  }
}
@media(max-width: 500px){
  .btncont{
    font-size: 18px;
  }
  .btnx{
    font-size: 10px;
  }
  .btnmore{
    font-size: 12px;
  }
}
@media(max-width: 768px){  
  .btncont{
    font-size: 15px;
  }
  .btnmore{
    font-size: 12px;
  }
  .btnx{
    font-size: 20px;
    margin-bottom: 5%;
  }
}

@media (max-width: 500px) {
  .btnx{
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .whitebox{
      width: 450px;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 3px 3px 15px black;
  }
}
@media (min-width: 300px) {
  .whitebox2{
      width: 350px;
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (min-width: 576px) {
  .whitebox2{
      width: 450px;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 3px 3px 15px black;
  }
}
@media (max-width: 576px) {
  .homeButton{
    margin: 0 7vw;
    font-size: 1rem;
  }
  .loginButton{
    margin-left: 7vw;
    /* margin-left: 0; */
    font-size: 1rem;
  }
  .registerButton{
    margin-left: 6vw;
  }
}
@media (max-width: 770px) {
  .homeButton{
    margin: 0 8vw;
    font-size: 1rem;
  }
  .username{
    margin-left: 9vw;
    /* margin-left: 0; */
    font-size: 1rem;
  }
  .logoutButton{
    margin-left: 9vw;
    /* margin-left: 0; */
    font-size: 1rem;
  }
  .contestcard-2 {
    margin-left: 0;
  }
  .gridContainer{
    /* display: grid; */
    grid-template-columns: 100%;
    grid-template-areas: 
    "cont"
    "cont2";
  }
}

@media (max-width: 576px) {
  .register_logo>a{
    margin-left: 0;
  }
  .registerButton{
    /* margin-right: 0; */
    margin-left: 2vw;
  }
}